<!DOCTYPE html>
<html>
 <title>MY PROJECT</title>
 <head>
    <link href="../static/des.css" rel=stylesheet>
 </head>
 <body>
    <div class="myclass">
        <h1>SUPER GEOCODER</h1> 
        <h3>Please upload your CSV file below. The values containing addresses sholud be in a column name address or Address.</h3>  
        <form>
            <input type="file" name="myfile" enctype="multipart/form-data"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </body>
</html>