html, body {
    background-color: teal;
}
.myclass {
    text-align: center;
}
.myclass h1 {
    text-align: center;
    margin-top: 80px;
}
.myclass h3 {
    text-align: center;
}
.myclass button {
    width: 80px;
    height: 30px;
    margin-top: 9px;
    border: black;
    margin-bottom: 5px;
}
.myclass input {
    margin: 5px;
    width: 300px;
    height: 25px;
}
.output {
    
    display: inline-block;
  }
  